* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: darkseagreen;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 4px solid floralwhite;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: floralwhite;
  color: darkseagreen;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: rgb(197, 218, 197);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: rgba(255, 250, 240, 0.667);
  padding: 10px;
  border-radius: 10px;
}

label {
  color: floralwhite;
}

#h2Div {
  text-align: center;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
    border-radius: 10px;
  }
}
